/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header {
  height: auto;
  width: 90%;
  margin: 0 5%;
}

main {
  height: auto;
  width: 80%;
  margin: 0 10%;
  flex: 1;
}

.footer {
  height: 110px;
  color: #00fa9a;
  background-color: #1a1a1a;
  text-align: center;
  padding-top: 45px;
}

.button {
  display       : inline-block;
  border-radius : 1vh;          /* 角丸       */
  padding       : 12px 26px;   /* 余白       */
  background    : #1a1a1a;     /* 背景色     */
  color         : #00fa9a;     /* 文字色     */
  line-height   : 10px;         /* 1行の高さ  */
  transition    : .2s;         /* なめらか変化 */
  border        : 2px solid #1a1a1a;    /* 枠の指定 */
}
.button:hover {
  border: 2px solid #00fa9a;
  color         : #1a1a1a;     /* 背景色     */
  background    : #00fa9a;     /* 文字色     */
}

.button-danger {
  display       : inline-block;
  border-radius : 1vh;          /* 角丸       */
  padding       : 12px 26px;   /* 余白       */
  background    : #1a1a1a;     /* 背景色     */
  color         : #ff0000;     /* 文字色     */
  line-height   : 10px;         /* 1行の高さ  */
  transition    : .2s;         /* なめらか変化 */
  border        : 2px solid #1a1a1a;    /* 枠の指定 */
}
.button-danger:hover {
  border: 2px solid #ff0000;
  color         : #1a1a1a;     /* 背景色     */
  background    : #ff0000;     /* 文字色     */
}

.button-edit {
  display       : inline-block;
  border-radius : 1vh;          /* 角丸       */
  padding       : 12px 26px;   /* 余白       */
  background    : #a9a9a9;     /* 背景色     */
  color         : #00fa9a;     /* 文字色     */
  line-height   : 10px;         /* 1行の高さ  */
  transition    : .2s;         /* なめらか変化 */
  border        : 2px solid #a9a9a9;    /* 枠の指定 */
}
.button-edit:hover {
  border: 2px solid #00fa9a;
  color         : #a9a9a9;     /* 文字色     */
  background    : #00fa9a;     /* 背景色     */
}

.main-border {
  border: none;
  width: 100%;
  margin: 0 auto;
  height: 7px;
  background: transparent linear-gradient(90deg, #00fa9a 0%, #1a1a1a 80%) 0% 0% no-repeat padding-box;
}

.border{
  border: 2px solid #00fa9a;
}

.item_img {             /*indexで使うサイズ*/
  width: 175px;
  height: 175px;
  object-fit: cover;
}

.show_item_image {      /*showで使うサイズ*/
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.user_item_image {      /*user/showで使うサイズ*/
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.comment_user_image {      /*review/showで使うサイズ*/
  border: 2px solid #00fa9a;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.user_image {           /*user_profile_imageで使うサイズ*/
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.admin_image {           /*admin_profile_imageで使うサイズ*/
  border: 2px solid #00fa9a;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.initialized {
  width: initial;
  height: initial;
}

.profile {
  display       : inline-block;
  border-radius : 1vh;          /* 角丸       */
  padding       : 12px 26px;   /* 余白       */
  background    : #a9a9a9;     /* 背景色     */
  color         : #1a1a1a;     /* 文字色     */
  line-height   : 10px;         /* 1行の高さ  */
  transition    : .2s;         /* なめらか変化 */
  border        : 2px solid #696969;    /* 枠の指定 */
}

.comment {
  line-height: initial !important;
  overflow-wrap: break-word;
  width: 100%;
  display       : inline-block;
  border-radius : 1vh;          /* 角丸       */
  padding       : 10px 10px;   /* 余白       */
  background    : #f5f5f5;     /* 背景色     */
  color         : #1a1a1a;     /* 文字色     */
  line-height   : 10px;         /* 1行の高さ  */
  transition    : .2s;         /* なめらか変化 */
  border        : 2px solid #696969;    /* 枠の指定 */
}

.trash {
  color: #a9a9a9;
}

.top-image {
  border: 2px solid #00fa9a;
  width:275px;
  height: 275px;
  object-fit: cover;
}

.new-img {
  border: 2px solid #00fa9a;
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.preview {
  width: 350px;
}

/******************検索フォームデザイン********************/
.search {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
}

.search input[type=text] {
	width: 40%;
	font-size: 20px;
	color: #474747;
	border: 2px solid #474747;
	border-radius: 3px 0 0 3px;
	outline: none;
}

.search button[type=submit] {
	padding: 10px 20px;
	font-size: 16px;
	color: #FFF;
	background: #474747;
	border: 2px solid #474747;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}

.limegreen input[type=text] {
	border-color: #00fa9a;
}

.limegreen button[type=submit] {
	border-color: #00fa9a;
	background: #00fa9a;
}

/**********************************************************/

.reload {
  font-size:1.5em;
  color: #00fa9a;
  padding-top: 11px;
  padding-right: 10px;
}


.alert-notice { /* 緑 */

}

.alert-alert { /* 赤 */

}
