/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header {
  height: auto;
  width: 80%;
  margin: 0 10%;
}

main {
  height: auto;
  width: 80%;
  margin: 0 10%;
  flex: 1;
}

.footer {
  height: 110px;
  color: #00fa9a;
  background-color: #1a1a1a;
  text-align: center;
  padding-top: 45px;
}

.button {
  display       : inline-block;
  border-radius : 1vh;          /* 角丸       */
  padding       : 12px 26px;   /* 余白       */
  background    : #1a1a1a;     /* 背景色     */
  color         : #00fa9a;     /* 文字色     */
  line-height   : 10px;         /* 1行の高さ  */
  transition    : .2s;         /* なめらか変化 */
  border        : 2px solid #1a1a1a;    /* 枠の指定 */
}
.button:hover {
  border: 2px solid #00fa9a;
  color         : #1a1a1a;     /* 背景色     */
  background    : #00fa9a;     /* 文字色     */
}

.button-danger {
  display       : inline-block;
  border-radius : 1vh;          /* 角丸       */
  padding       : 12px 26px;   /* 余白       */
  background    : #1a1a1a;     /* 背景色     */
  color         : #ff0000;     /* 文字色     */
  line-height   : 10px;         /* 1行の高さ  */
  transition    : .2s;         /* なめらか変化 */
  border        : 2px solid #1a1a1a;    /* 枠の指定 */
}
.button-danger:hover {
  border: 2px solid #ff0000;
  color         : #1a1a1a;     /* 背景色     */
  background    : #ff0000;     /* 文字色     */
}

.button-edit {
  display       : inline-block;
  border-radius : 1vh;          /* 角丸       */
  padding       : 12px 26px;   /* 余白       */
  background    : #a9a9a9;     /* 背景色     */
  color         : #00fa9a;     /* 文字色     */
  line-height   : 10px;         /* 1行の高さ  */
  transition    : .2s;         /* なめらか変化 */
  border        : 2px solid #a9a9a9;    /* 枠の指定 */
}
.button-edit:hover {
  border: 2px solid #00fa9a;
  color         : #a9a9a9;     /* 背景色     */
  background    : #00fa9a;     /* 文字色     */
}

.main-border {
  border: none;
  width: 100%;
  margin: 0 auto;
  height: 7px;
  background: transparent linear-gradient(90deg, #00fa9a 0%, #1a1a1a 80%) 0% 0% no-repeat padding-box;
}

.border{
  border: 2px solid #00fa9a;
}

img {
  width: 175px;
  height: 175px;
  object-fit: cover;
}

.item_image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.initialized {
  width: initial;
  height: initial;
}