<% if review.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= I18n.t("errors.messages.not_saved",
                 count: review.errors.count,
                 resource: review.class.model_name.human.downcase)
       %>
    </h3>
    <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>